.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
.git/
.gitignore
.env*
media/
staticfiles/
volumes/
**/volumes/
data/
**/data/
.idea/
.vscode/
*.md
rag-pipeline/
models/
tests/
seed_data/
sample_data/
milvus/
